@font-face {
  font-family: 'Helvetica';
  src: url('font/Helvetica.ttf') format('truetype');
}  
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  padding: 9px 85px 9px 66px;
  align-items: center;
  gap: 380px;
  flex-shrink: 0;

  position: fixed;
  z-index: 1000;
  width: 93%;
  backdrop-filter: blur(4px); /* Efek blur untuk membuat efek glass */
  transition: background-color 0.3s ease; /* Transisi warna latar belakang */
  }
  
.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.8);/* Warna latar belakang solid saat di-scroll */
  }
  

.navbar-logo {
  width: 100px;
  height: auto;
}
.navbar-submenu {
  display: flex;
  align-items: center;
  gap: 61px;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.navbar-submenu a {
  color: #000;
  text-decoration: none;
  transition: font-size 0.3s ease;
}
.navbar-submenu a:nth-child(7) {
  color: #F06765;
}

.navbar-submenu a:hover {
  border-bottom: 2px solid black;
  font-size: 21px;
}

.banner {
  position: relative;
  width: 100%;
  height: 396px;
  background-image: url('img/banner-adopsi.png');
  background-size: cover;
  background-position: center;
  color: white;

  padding-top: 100px; /* Atur padding-top agar konten di bawah navbar tidak tertutupi */
}


.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  left: 70px;
  text-align: left;
}


.text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: normal;;
}
.text a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 10px;
}
.text a.active {
  color: black;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.content {
  padding-top: 50px;
  padding-left: 100px;
}
.section1 h3{
  color:  #F1B703;
  font-family: "Helvetica Rounded";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.section1 h2{
  color: #000;
  font-family: "Helvetica Rounded";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }

.icon-with-text {
    display: inline-flex;
    align-items: center;
    width: 489px;
}

/* Spasi antara ikon dan teks */
.icon-with-text i {
    margin-right: 1em;
}

.icon-with-text p{
  color: #000;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.section1 span{
    color: #56A69D;
}
.card-container {
  padding: 50px;
}
.card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 331px;
  height: 450px;
  object-fit: cover;
}

.card-content span{
  color: #FFF;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-content p {
  color: #FFF;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.1px; /* 143.571% */
  margin: 50px 0;
}

.card-content {
  padding: 30px;
  background-color: #56A69D;
  line-height: 20px;
}

.card-title {
  margin-top: 30px;
  margin-bottom: 5px;
  color: #fff;
  font-family: "Helvetica Rounded";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-link {
  background-color: #fff; /* Warna tosca */
  border-radius: 30px; /* Radius sudut */
  color: #56A69D; /* Warna teks */
  text-decoration: none; /* Hilangkan garis bawah */
  display: flex;
  width: 132px;
  padding: 1px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
}

.section2 {
  padding: 50px 0;
  text-align: center;
}
.card-container2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
}
.card2 {
  background-color: #F1B703;
  border-radius: 30px;
  padding: 20px;
  margin: 0;
  width: 290px;
  text-align: center;
  height: 201px;
}
.card2 h2 {
  color: #FFF;
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 40px;
}
.card2 p {
  color: #FFF;
  font-size: 20px;
  margin: 0;
}


header {  
  align-items: center;
  text-align: center;
  margin: auto;
}

.section3 {
  margin: 0 auto;
  padding: 20px;
  background-color: #F1B703;
  color: #FFF;
}

.section3  h4 {
=
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 5px; /* Mengurangi margin bottom */
  line-height: 1; /* Mengatur line height menjadi 1 */
  width: 490px;
  margin-left: auto; /* Mengatur margin kiri menjadi otomatis */
  margin-right: auto; /* Mengatur margin kanan menjadi otomatis */
}

.section3 h2 {
  font-family: "Helvetica Rounded";
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  margin-bottom: -20px; /* Mengurangi margin bottom */
  margin-top: 10px; /* Mengurangi margin bottom */
  line-height: 1; /* Mengatur line height menjadi 1 */
}

.section3-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #F1B703;
}

.section3-card .card {
  text-align: center;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none; /* Menghilangkan garis */
  box-shadow: none; /* Menghilangkan bayangan */
}

.section3-card .card img {
  border-radius: 50%;
  width: 254px;
  height: 254px;
  object-fit: cover;
}

.section3-card .card .card-info {
  padding: 10px;
  margin: auto;
  color: #FFF;
}

.section3-card .card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.section3-card .card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section3-card .card a {

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */

  border-radius: 30px;
  background: #FFF;
  color: #F1B703;
  padding: 8px 19px;
  text-decoration: none; /* Hapus garis bawah */
}


footer {
  position: relative;
  background-image: url('img/wave\ \(1\).svg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0 50px;
  background-color: #fff;
}

.footer-logo {
  display: inline-block; /* Mengatur logo agar dapat diatur ukuran lebarnya */
  margin: 0 auto; /* Mengatur logo berada di tengah */
}

.footer-logo img {
  padding-top: 100px;
  max-width: 100px; /* Mengatur lebar maksimum logo */
  max-height: 100px; /* Mengatur tinggi maksimum logo */
}
.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: black; /* mengatur warna ikon menjadi putih */
}

.social-icons i {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 10px; /* Jarak antara ikon sosial */
}

.footer .copyright {
  margin-top: 90px;
  font-size: 14px;
  color: #888;
  text-align: center; /* Menyusun teks menjadi rata tengah */
}


@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 9px 20px; /* Mengurangi padding agar sesuai dengan lebar layar yang lebih kecil */
  }

  .navbar-logo {
      margin-bottom: 10px;
  }

  .navbar-submenu {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
  }

  .navbar-submenu a {
      margin: 5px 0;
  }
}
/* Responsive adjustments for 2560px width */
@media (min-width: 2560px) {
  .navbar {
      padding: 9px 400px; /* Penyesuaian padding untuk ukuran layar */
  }

  .navbar-submenu {
      margin: 0; /* Menghapus margin untuk menu utama */
  }

  .navbar-submenu a{
      margin: 0 30px; /* Penyesuaian margin untuk menu utama */
  }
}

/* Responsive adjustments for 1024px width */
@media (max-width: 1024px) {
  .navbar {
      padding: 9px 100px; /* Penyesuaian padding untuk ukuran layar */
  }

  .navbar-submenu {
      margin: 0; /* Menghapus margin untuk menu utama */
  }

  .navbar-submenu a{
      margin: 0 15px; /* Penyesuaian margin untuk menu utama */
  }
}