*{
    transition: all 0.2s linear;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}


/* navbar css */
.navbar {
    font-family: Helvetica;
    z-index: 0;
    
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    padding: 9px 85px 9px 66px;
    align-items: center;
    gap: 380px;
    flex-shrink: 0;
    position: fixed;
    z-index: 1000;
    width: 93%;
    backdrop-filter: blur(4px); /* Efek blur untuk membuat efek glass */
    transition: background-color 0.3s ease; /* Transisi warna latar belakang */
    }
    
    .navbar.scrolled {
      background-color: rgba(255, 255, 255, 0.8);/* Warna latar belakang solid saat di-scroll */
    }
    
  .navbar-logo {
    width: 100px;
    height: auto;
  }
  .navbar-submenu {
    display: flex;
    align-items: center;
    gap: 61px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%; /* 32px */
  }
  .navbar-submenu a {
    color: #000;
    text-decoration: none;
    transition: font-size 0.3s ease;
  }
  .navbar-submenu a:nth-child(7) {
    color: #F06765;
  }
  
  .navbar-submenu a:hover {
    border-bottom: 2px solid black;
    font-size: 21px;
  }

.hero{
    font-family: helvetica rounded;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("img/pink-cat.png");
    background-color: #f06765;
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 30rem;
    padding-top: 20%;
    padding-bottom: 10%;
}
.hero::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
}
.hero h1{
    position: relative;
    z-index: 0;
    margin-left: 20rem;
    color: #ffffff;
    font-size: 4rem;
}

.shelter-location{
    width: 100%;
    height: 4rem;
    flex-shrink: 0;
    margin-top: 80px;
    border-bottom: 5px solid var(--Secondary, #56A69D);
    background: var(--light, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shelter-location h1{
    margin: 60px 80px 1px;
    color: var(--Secondary, #56A69D);
    font-family: "Helvetica Rounded";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.card {
    max-width: 300px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding-top: 0rem;;
    padding-bottom: 2rem; /* adjust as needed */
    font-size: 20px;
    font-family: "Helvetica Rounded";
    
}
.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0px 0px 0px;
    background-color: #56A69D;
    padding-bottom: 5rem;
    padding-top: 5rem;
}


.card-container .card{
    cursor: pointer;
    background: #FFF;

}

.card-container .card:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
    background: #f3f3f3;
}  

.card-container .card:hover img{
    transform: scale(1.0);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-container .card h2{
    color: var(--Secondary, #56A69D);
    font-family: "Helvetica Rounded";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-container .card:hover h2{
    color: var(--Secondary, #56A69D);
    font-family: "Helvetica Rounded";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card p{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.card p i{
    margin-right: 10px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    margin: 0 20px; 
}


.shelter-details{
    width: 100%;
    height: 4rem;
    flex-shrink: 0;
    margin-top: 20px;
    border-bottom: 5px solid var(--Secondary, #56A69D);
    background: var(--light, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shelter-details h1{
    margin: 60px 20px 1px;
    color: var(--Secondary, #56A69D);
    font-family: "Helvetica Rounded";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.location-preview{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Add this line */
}

.location-preview .preview{
    display: none;
    padding: 1rem;
    text-align: center;
    background: white;
    position: relative;
    margin:2rem;
    width: 40rem;
    border-radius: 5%;
}

.location-preview .preview.active{
    display: inline-block;
}

.location-preview .preview img{
    height: 13rem;
}

.location-preview .preview .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.location-preview .preview .fa-times:hover{
transform:rotate(90deg); 
}

.location-preview .preview h2{
    color: var(--Secondary, #56A69D);
    font-family: "Helvetica Rounded";
    font-size: 2rem;
    margin: 1rem 0;
}

.location-preview .preview .stars{
    padding: .5rem 0;    
    font-size: 1.2rem;
}

.location-preview .preview .stars i{
    color:gold;
}

.location-preview .preview .stars span{
    color:grey;
}

.location-preview .preview p{
    line-height: 1.0;
    padding: .5rem 0;
    font-size: 1.2rem;
    color: var(--Secondary, #56A69D);
}

.location-preview .preview .button-adopsi{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 2rem 0;
}

.location-preview .preview .button-adopsi a{
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--light, #FFF);
    border: .1rem solid var(--Secondary, #56A69D);
    background-color: #000;
}

.location-preview .preview .button-adopsi a:hover{
    background-color: var(--Secondary, #56A69D);
    color: var(--light, #FFF);
}



@media (max-width: 768px) {
    html{
        font-size: 47%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 9px 20px; /* Mengurangi padding agar sesuai dengan lebar layar yang lebih kecil */
    }
  
    .navbar-logo {
        margin-bottom: 10px;
    }
  
    .navbar-submenu {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
  
    .navbar-submenu a {
        margin: 5px 0;
    }
  }
  /* Responsive adjustments for 2560px width */
  @media (min-width: 2560px) {
    html{
        font-size: 60%;
    }

    .navbar {
        padding: 9px 400px; /* Penyesuaian padding untuk ukuran layar */
    }
  
    .navbar-submenu {
        margin: 0; /* Menghapus margin untuk menu utama */
    }
  
    .navbar-submenu a{
        margin: 0 30px; /* Penyesuaian margin untuk menu utama */
    }
  }
  
  /* Responsive adjustments for 1024px width */
  @media (max-width: 1024px) {
    html{
        font-size: 50%;
    }
    .navbar {
        padding: 9px 100px; /* Penyesuaian padding untuk ukuran layar */
    }
  
    .navbar-submenu {
        margin: 0; /* Menghapus margin untuk menu utama */
    }
  
    .navbar-submenu a{
        margin: 0 15px; /* Penyesuaian margin untuk menu utama */
    }
  }

  footer {
    z-index: 0;
    background-image: url("img/wave-shelter\ \(2\).svg");
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 200px 0 100px;
    background-color: #ffffff;
  }
  
  .footer-logo {
    display: inline-block; /* Mengatur logo agar dapat diatur ukuran lebarnya */
    margin: 0 auto; /* Mengatur logo berada di tengah */
  }
  
  .footer-logo img {
    padding-top: 100px;
    max-width: 100px; /* Mengatur lebar maksimum logo */
    max-height: 100px; /* Mengatur tinggi maksimum logo */
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons i {
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 10px; /* Jarak antara ikon sosial */
  }
  
  .footer .copyright {
    margin-top: 90px;
    font-size: 14px;
    color: #888;
    text-align: center; /* Menyusun teks menjadi rata tengah */
  }
  