:root {
    --primary: rgba(154, 210, 209, 1);
    --secondary: rgba(86, 166, 157, 1);
    --accents: rgba(240, 103, 101, 1);
    --orange: rgba(241, 183, 3, 1);
    --black: rgba(0, 0, 0, 1);
    --light: rgba(255, 255, 255, 1);
    --heading-adopsi-font-family: "Inter", Helvetica;
    --heading-adopsi-font-weight: 700;
    --heading-adopsi-font-size: 94px;
    --heading-adopsi-letter-spacing: 0px;
    --heading-adopsi-line-height: 160.0000023841858%;
    --heading-adopsi-font-style: normal;
    --paragraf-bold-font-family: "Helvetica", Helvetica;
    --paragraf-bold-font-weight: 700;
    --paragraf-bold-font-size: 20px;
    --paragraf-bold-letter-spacing: 0px;
    --paragraf-bold-line-height: normal;
    --paragraf-bold-font-style: normal;
    --paragraf-reg-font-family: "Helvetica", Helvetica;
    --paragraf-reg-font-weight: 400;
    --paragraf-reg-font-size: 20px;
    --paragraf-reg-letter-spacing: 0px;
    --paragraf-reg-line-height: 160.0000023841858%;
    --paragraf-reg-font-style: normal;
    --heading-2-font-family: "Helvetica Rounded", Helvetica;
    --heading-2-font-weight: 700;
    --heading-2-font-size: 40px;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: normal;
    --heading-2-font-style: normal;
    --heading-3-font-family: "Helvetica Rounded", Helvetica;
    --heading-3-font-weight: 700;
    --heading-3-font-size: 32px;
    --heading-3-letter-spacing: 0px;
    --heading-3-line-height: normal;
    --heading-3-font-style: normal;
    --heading-4-font-family: "Helvetica Rounded", Helvetica;
    --heading-4-font-weight: 700;
    --heading-4-font-size: 24px;
    --heading-4-letter-spacing: 0px;
    --heading-4-line-height: normal;
    --heading-4-font-style: normal;
    --heading-5-font-family: "Helvetica Rounded", Helvetica;
    --heading-5-font-weight: 700;
    --heading-5-font-size: 20px;
    --heading-5-letter-spacing: 0px;
    --heading-5-line-height: normal;
    --heading-5-font-style: normal;
    --leading-reg-font-family: "Helvetica", Helvetica;
    --leading-reg-font-weight: 400;
    --leading-reg-font-size: 20px;
    --leading-reg-letter-spacing: 0px;
    --leading-reg-line-height: normal;
    --leading-reg-font-style: normal;
    --heading-1-font-family: "Helvetica Rounded", Helvetica;
    --heading-1-font-weight: 700;
    --heading-1-font-size: 40px;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: 60px;
    --heading-1-font-style: normal;
    --shadow: -1px 5px 7px 0px rgba(0, 0, 0, 0.25);
}
