

@font-face {
    font-family: 'Helvetica';
    src: url('font/Helvetica.ttf') format('truetype');
  }  

.body {
    font-family: Helvetica;
}

h5 {
    font-size: 20px;
    font-family: "Helvetica Rounded";
}

p {
    color: #000;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.1px; /* 143.571% */
}