@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');   

.body {
    font-family: Helvetica;
}

h5 {
    font-size: 20px;
    font-family: "Helvetica Rounded";
}

p {
    color: #000;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.1px; /* 143.571% */
}