@font-face {
    font-family: 'Helvetica';
    src: url('font/Helvetica.ttf') format('truetype');
}  

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 2000;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    max-width: 1440px;
}

h5 {
  font-family: "Helvetica Rounded";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

p {
    color: #000;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.1px; /* 143.571% */
}

.navbar {
  position: fixed; /* Menggunakan posisi tetap agar navbar tetap di atas */
  top: 0; /* Menempatkan navbar di bagian atas */
  left: 0; /* Menempatkan navbar di bagian kiri */
  display: flex;
  width: 100%; /* Lebar 100% untuk mengisi seluruh lebar layar */
  height: 85px;
  justify-content: space-between;
  align-items: center;
  background: var(--light, #FFF);
  z-index: 9999;
}

.navbar-logo {
  margin: 90PX;
  width: 61px;
  height: 61px;
}

.navbar-submenu {
  display: flex;
  width: 786px;
  height: 32px;
  align-items: center;
  gap: 61px;
}

.navbar-submenu a {
  color: #000;
  text-decoration: none;
  transition: font-size 0.3s ease;
}
.navbar-submenu a:nth-child(7) {
  color: #F06765;
}

.navbar-submenu a:hover {
  border-bottom: 2px solid black;
  font-size: 21px;
}
@media screen and (min-width: 2560px) {
  .navbar {
    left: 0; /* Navbar kembali ke kiri saat layar lebih besar dari 2560px */
    transform: none; /* Reset transform */
    justify-content: center; /* Menengahkan navbar pada layar besar */
  }
}

/* Media Queries untuk layar berukuran 1024px */
@media screen and (max-width: 1024px) {
  .navbar {
    left: 0; /* Navbar kembali ke kiri saat layar lebih kecil dari 1024px */
    transform: none; /* Reset transform */
    justify-content: center; /* Menengahkan navbar pada layar kecil */
  }
}


/* hero */

.hero {
  display: flex;
  width: 1420px;
  align-items: center;
  align-content: space-between;
  column-gap: 143px;
  flex-wrap: wrap;
}


.texthead {
  display: flex;
  width: 659px;
  padding-left: 70px;
  align-items: center;
  align-content: center;
  gap: 23px 10px;
  flex-wrap: wrap;
}
#orange{
  color: var(--orange, #F1B703);
}
#primary {
  color: var(--primary, #9AD2D1);
}
.texthero {
width: 659px;
flex-shrink: 0;
color: var(--primary, #9AD2D1);
font-family: "Helvetica Rounded";
font-size: 59px;
font-style: normal;
font-weight: 700;
line-height: 76px; /* 128.814% */
}

/* Paragraf/reg3 */
.paragraf  {
  color: var(--Black, #000);
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 20.1px; /* 143.571% */
  text-align: justify;
}

.paragraf-reg3 {
font-size: 14px;
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}

.paragraf reg3 hero {
  width: 659px;
  height: 41px;
}

.bg-hero {
height: 679px;
flex: 1 0 0;
  flex-shrink: 0;
  border-radius: 340px 0px 0px 340px;
background: var(--orange, #F1B703);
max-width: 100%;

/* card-shadow */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.button {
display: inline-flex;
padding: 18px 24px;
justify-content: center;
align-items: center;
gap: 10px;

}

.button a{
  text-decoration: none;
  color: white;
  
}
#adopt{
  border-radius: 30px;
  background: var(--Secondary, #56A69D);
}

#adopt a {
  text-decoration: none; /* Menghapus garis bawah pada tautan di dalam elemen #adopt */
}

#adopt:hover{
  border-radius: 30px;
  background: var(--Secondary,  #F1B703);
  color: #fff;
}

.paragraf reg2 {
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
}

#light {
  color: var(--light, #FFF);
 }

/*
.asset-hero {
  width: 528px;
  height: 720px;
  flex-shrink: 0; /* Atur posisi dari kiri sejauh 20px 
  position:absolute;
  top: 53px;
  left: 749px;
}*/

.doghero {
  width: 380px;
height: 615px;
flex-shrink: 0;
  background: url(public/images/doghero.png);
  position: absolute;
  top: 120px;
  left: 749px;
}

.cathero {
  width: 323px;
  height: 517px;;
  flex-shrink: 0;
  background: url(public/images/cathero.png);
  position: absolute;
  top: 213px;
  left:1047px
}
.pop-up {
  transition: transform 0.3s ease;
}

.pop-up.small {
  transform: scale(0.); /* Atur ukuran skala kecil */
}


.card {
  border-radius: 30px;
}

.manfaat {
display: inline-flex;
padding: 50px 70px;
align-items: center;
align-content: center;
gap: 60px;
flex-wrap: wrap;
background: var(--primary, #9AD2D1); 

}



h3 {
  color: #000;

/* heading/3 */
font-family: "Helvetica Rounded";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.quote {
  color: #000;
  width: 441px;
} 

.text-box {
  display: flex;
  height: 127px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.black {
  color: #000;
}
.layout {
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: #000;
  text-align: justify;
  display: flex;
  width: 270px;
  align-items: flex-start;
  flex-wrap: wrap;
}


.about {
  display: flex;
  align-items: flex-start;
  gap: 62px;
  padding: 100px 0px 270px 0px ;
}


.big-textbox {
  display: flex;
  width: 347px;
  height: 292px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

h2 {
  font-family: "Helvetica Rounded";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  margin: 2px;
}

#headbox {
display: flex;
flex-direction: column;
justify-content: flex-end;
flex: 1 0 0;
align-self: stretch;
}

.paragraf-reg2 {
text-align: justify;

/* Paragraf/reg */
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
}

#descbox {
height: 199px;
flex-shrink: 0;
align-self: stretch;
}

.carddog {
width: 247px;
height: 332px;
}

#prosedur {
  display: flex;
  height: auto; /* Atur ketinggian menjadi otomatis agar dapat menyesuaikan konten list */
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
 width: 330px;
}

#prosedur li {
  animation: slideInLeft 0.5s ease forwards;
}

@keyframes slideInLeft {
  0% { opacity: 0; transform: translateX(-20px); }
  100% { opacity: 1; transform: translateX(0); }
}

/* Terapkan class 'slide-in' pada setiap item list */
.slide-in {
  opacity: 0;
  animation: slideInLeft 0.5s ease forwards;
}

#syarat {
  border-radius: 30px;
  border: 2px solid var(--orange, #F1B703);
}

.buttonsk a{
  text-decoration: none ;
  color: black;
}

.buttonsk {
  display: flex;
  width: 223px;
  padding: 5px 5px;
  justify-content: center;
  align-items: center;
  gap: -10px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 2px solid var(--orange, #F1B703);
  color: var(--orange, #F1B703);

}
.buttonsk:hover {
  background-color: var(--orange, #F1B703); /* Mengubah warna background saat dihover */
  color: var(--light, #FFF); /* Mengubah warna teks saat dihover */
}
.sk {
  color: var(--orange, #F1B703);

}

.toy {
  width: 220px;
height: 209px;
flex-shrink: 0;
position: absolute;
top: 2600px;
left: 1170px;
background:url(public/images/toy.png) ;
}
.rescue {
display: flex;
width: 1440px;
height: 560px;
justify-content: center;
align-items: center;
gap: 100px;
flex-shrink: 0;
background: var(--orange, #F1B703);

}

.rescuedesc{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

}s
.shelter {

height: 688px;
flex-shrink: 0;
}



.cat {
width: 269px;
height: 788px;
flex-shrink: 0;
}

.food {
  width: 210px;
  height: 439px;
  flex-shrink: 0;
  background: url(public/images/food-1.png);
  position: absolute;
  top: 1301px;
  left:1190px;
}

#accent{
  color: var(--accents, #F06765);
}
#rescuenow{
  border-radius: 30px;
  background: var(--accents, #F06765);
  color: white;
}

#rescuenow:hover {
  background: var(--Secondary, #56A69D);
}

.fitur{
display: flex;
flex-direction: column;
align-items: center;
gap: 49px;
padding-top: 100px;
max-width: 1284px;
}

#textfitur {
  color: var(--accents, #F06765);
}

.cards {
display: flex;
align-items: flex-start;
gap: 25px;
max-width: 1440;
}

.card2 {
  display: flex;
  padding: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  border: 1px solid var(--Secondary, #56A69D);
  background: var(--light, #FFF);
  box-shadow: -1px 5px 7px 0px rgba(0, 0, 0, 0.25);
  align-self: stretch;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease-in-out; /* Menggunakan fungsi ease-in-out untuk transisi yang lebih smooth */
}

.texthero {
  transition: opacity 0.8s ease; /* Efek transisi opacity */
}

#donasi{
  border: 1px solid var(--Secondary, #56A69D);

}

#acara{
  border: 1px solid var(--accents, #F06765);
}

#tips{
  border: 1px solid var(--orange, #F1B703);
}
#donasi:hover {
  background-color: var(--orange, #F1B703);
  color: #fff; /* Mengubah warna teks saat di-hover */
  transform: scale(1.1); /* Memperbesar kartu saat di-hover */
}

/* Hover effect untuk elemen dengan id #acara */
#acara:hover {
  background-color: var(--Secondary, #56A69D);
  color: #fff; /* Mengubah warna teks saat di-hover */
  transform: scale(1.1); /* Memperbesar kartu saat di-hover */
}

/* Hover effect untuk elemen dengan id #tips */
#tips:hover {
  background-color: var(--accents, #F06765);
  color: #fff; /* Mengubah warna teks saat di-hover */
  transform: scale(1.1); /* Memperbesar kartu saat di-hover */
}


.icon {
width: 40px;
height: 40px;
flex-shrink: 0;
}
.icon i {
  font-size: 40px; /* Atur ukuran ikon sesuai kebutuhan */
}

.card-desc {
  width: 290px;
  flex: 1 0 0;
  text-align: justify;
}

.paragraf-bold{
text-align: justify;
color: #000;
/* Paragraf/bold */
font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.shelterbox {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
max-width: 1263px;

}

.headshelter h2{
  width: 600px;
}

.rabbit {
  width: 340px;
height: 399px;
}

.bird 
{
  width: 290px;
height: 290px;
}

.contentshelter {
  display: flex;
align-items: center;
gap: 80px;
}

.footer {
width: 1440px;
height: 269px;
flex-shrink: 0;
fill: var(--accents, #F06765);
align-self: stretch;
}


